/* this is index.html css */
body{
    text-align: center;
    background-color:#bae699;
}
#iherder{
    padding: 5px;;
 }

#iherder h1{
font-family: cursive;
}

#iform input{
    padding: 10px;
    border-radius: 5px;
}
#idorpbox{
    padding: 10px;
    border-radius: 5px;
    width: 15%;
    
}

#iloginbtn{
    padding: 5px;
    border-radius: 5px;
    background-color: #25a962;
    color: black;
}


/* this is signup.html css */


#rherder{
    padding: 5px;;
 }

#rherder h1{
font-family: cursive;
}

#rform input{
    padding: 10px;
    border-radius: 5px;
}
#rform #raddress{
    width: 27%;
}


#photofile{
    border: 2px solid black;
    padding: 10px;
    border-radius: 5px;
    width: 30%;
}


#selectbox{
    border: 2px solid black;
    padding: 10px;
    border-radius: 5px;
    width: 30%;
}

#rdorpbox{
    padding: 10px;
    border-radius: 5px;
    width: 20%;
    
}

#rloginbtn{
    padding: 5px;
    border-radius: 5px;
    background-color: #25a962;
    color: black;
}

/* this is datacode.php css */

 
            #dhaeder{
                padding: 5px;;
                
            }

            #dout h1{
            font-family: cursive;
            }
                    
            #dbackbtn{
                padding: 5px;
                    border-radius: 5px;
                    background-color: lightgreen;
                    color: black;
                    float: left;
                        }
                        #dout{
                            padding: 5px;
                            border-radius: 5px;
                            background-color: lightgreen;
                            color: black;
                            float: right;
                        }
                        #maindiv{
                           
                        }
                        #profile{
                            padding: 20px;
                            float: left;
                            text-align: left;
                            background-color:white;
                            width: 40%;
                        }
                        #group{
                            background-color: white;
                            width: 52%;
                            height: auto;
                            padding: 25px;
                            float: right;
                            text-align: left;
                        }
                        #part_img{
                            float: right;
                        }
                       #info{
                        float: left;
                        border-color: black;
                        padding: 0px;
                        width: 20%;
                        height: 10%;
                       }
                        
                        #votebtn{
                            
                            
                            background-color: lightgreen;
                            color: black;
                            float: left;
                        }